[submodule "backend"]
	path = backend
	url = https://github.com/Omar-Ballesteros/breakable2-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/Omar-Ballesteros/breakable2-frontend
